<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Create and share your favourite location</p>
  <a href="/locations/add" class="btn btn-dark btn-lg">Add Location to the Blog</a>
</div>